button
  // background: $blue
  //   border 1px solid transparent
  // padding .5em
  // color $ga
  //   border-radius 5px
  // box-sizing border-box
  // font-size 1.2em
  //   transition .5s all ease
  

button:hover
  // background: $lightblue
  // cursor: pointer
  // color #ccc
  // border 1px solid darkblue

button
  .highlight
    border 2px solid green



.greenflashborder
    border 2px solid yellow
    animation flash linear 2s infinite


