$bg = $g9
$fg = $g0

// tooltip container
.tooltip
  position relative
  display inline-block
  cursor pointer

// tooltip text
.tooltiptext
	// visibility hidden
	width 300px
	background-color $bg
	color $fg
	text-align center
	padding 5px 0
	border-radius 6px

	/* Position the tooltip text */
	position absolute
	z-index 1

	/* Fade in tooltip */
	opacity 0
	transition opacity 0.5s


/* Position the tooltip text */
.tooltip-right
	left 133%
	
.tooltip-left
	right 133%


/* Tooltip arrow */
.tooltiptext::after
	content " "
	position absolute
	top 35%
	border-width 5px
	border-style solid

.tooltip-right.tooltiptext::after 
	right 100%
	margin-left -5px
	border-color transparent $bg transparent transparent

.tooltip-left.tooltiptext::after 
	left 100%
	margin-right -25px
	border-color transparent transparent transparent $bg



/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext
  opacity 0.8