html
  color #111
  font-size 1.2em
  font-family Ubuntu, Helvetica, Arial, sans-serif

h1
  font-size 2.5rem
  // padding 0
  margin .75rem 0

a
  color $g8
  text-decoration-line none
  font-size 1.2rem
  outline none