$buttonColour = blue
// $buttonColour = green


$trans = transparent


$green= #0a0
$oldblue = #36b
$lightblue = #47c

// could overwrite default colors,
// eg. blue = #24b


$gd = #def
$gc = #cde
$gb = #bcd
$ga = #abc
$g9 = #9ab
$g8 = #89a
$g7 = #789
$g6 = #678
$g5 = #567
$g4 = #456
$g3 = #345
$g2 = #234
$g1 = #123
$g0 = #012
// 


darkblue = #038
blue = #115588
blue = #259
lightblue = #269

green = #474



navy = #001F3F
// blue = #0074D9
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #FF4136
fuchsia = #F012BE
purple = #B10DC9
maroon = #85144B
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #111111