@import 'styles/_vars'
@import 'styles/_mixins'
@import 'styles/*'


h1
  margin 0
  color #111
  font-size 2rem
  font-family Merriweather

p
  color #111

a
  color $g9
  outline none
  link(0.5rem)
  min-width 140px
  background blue
  font-size 1.2rem
  text-align center
  display inline-block
  padding 0.2rem 0.2rem
  text-decoration-line none


//  ---  animations   ---
//

.flash
  animation flash linear 2s infinite

.throb
  animation throb linear 2s infinite

@keyframes flash
  0% { opacity: 1 } 
  50% { opacity: .2 } 
  100% { opacity: 1 }

@keyframes throb
  0% { border-color: green } 
  50% { border-color: blue } 
  100% { border-color: green }
